*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    /* background-color: #e8fb7742; */
    display: flex;
    justify-content: center;
    background: url(./weather2.jpg);
    background-size: 100% 100%;
    
}
.container{
    width: 50%;
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    /* background-color: #0dc2dbab; */
    background-color: #0dc2db2b;
    box-shadow:  5px 5px 17px 7px rgb(115 145 144);
    padding: 0 1rem;
    margin-right: 50px;
}
.search{
    margin: 2rem 0;
}
.search_input{
    width: 100%;
    height: 3rem;
    border:none;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
}
.search_button{
    width: 100%;
    height: 3rem;
    border:none;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}
.search_button:hover{
  background-color: #000;
  color: #fff;
}
.weather_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.weather_info *{
    margin: 0 1rem;
}
.weather_temp{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.weather_description{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.weather_location{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    
}
.weather_icon{
    display: flex;
    justify-content: center;
   
}
.error{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    color: #B4161B;
    display: none;
    text-align: center;
}
/* .weather{
    display: none;
} */

.whead{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ee0d0d;
    background-color: #ffeb3b;
}