@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Bona Nova', serif;
}
body{
    background-color: rgb(214, 239, 165);
}
.main{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}
.heading h1{
   color: rgb(223, 15, 184);
   font-size: 48px;
   font-weight: 900;
   letter-spacing: 2px;
   padding-top: 2rem;
   margin: 1rem;
}
.search-bar{
    margin: 1rem 0;
    width: 410px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
}
.container{
    width: 80%;
    margin: 25px auto;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 120px;
    
}
.card{
    width: 200px;
    border-radius: 1rem;
    background-color: #030138;
    padding: 5px;
   
}
.card-img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.card h3{
    color: #fff;
    font-size: 18px;
}
.indexContainer{
    display: flex;
    margin: 2.3rem 0;
}
.numBox{
    width: 50px;
    height: 50px;
    background-color: #030e12;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0 5px 0 5px;
}