* {
    margin: 0;
    padding: 0;
}

main {
    margin: 50px;

}

body {
    background-color: rgb(7, 7, 7);
}

i {
    color: rgb(201, 27, 40);

}

.navbar {
    margin: 50px;
    display: flex;
    align-items: center;
}

.list-items {

    display: flex;
    list-style: none;
    margin: 7px;
    margin-left: 589px;
}

nav ul li {
    padding: 40px;
    color: white;
}

/* --section2--- */
.hero {
    display: flex;
    align-items: center;
}

.left img {
    height: 558px;
}

.right {
    margin-left: 150px;
}

.right h2 {
    color: rgb(201, 27, 40);
    font-size: 25px;

}

.right h1 {
    color: #fff;
    margin: 5px 0px;
    font-size: 80px;

}

.right p {
    color: rgb(186, 186, 186);
    width: 640px;
    font-size: 25px;


}


.btn {
    background-color: rgb(201, 27, 40);
    color: rgb(221, 221, 221);
    margin: 10px 0px;
    border: none;
    padding: 15px;
    width: 152px;
    font-size: 20px;

}

.blank {
    height: 950px;
    background-color: rgb(24, 24, 24);
    width: 750px;
}

.cards ul {
    list-style: none;
    display: flex;
    height: 348px;
    position: absolute;
    top: 818px;
    width: 975px;
    z-index: 4;
    right: 293px;

}

.card {
    background-color: rgb(30, 30, 30);
    margin: 10px;
    padding: 60px;
    color: #fff;

}

.card h4 {
    font-size: 30px;
    margin: 8px 0px
}

.card p {
    font-size: 20px;

}

.card h6 {
    font-size: 20px;
    color: rgb(201, 27, 40);

    margin: 8px 0px
}

.card-active {
    background-color: rgb(201, 27, 40);
    margin: 10px;
    padding: 60px;
    color: #fff;
}

.card-active h4 {
    font-size: 30px;
    margin: 13px -8px
}

.card-active i {
    color: #fff;
}

.card-active p {
    font-size: 20px;

}

.card-active h6 {
    font-size: 20px;
    color: #fff;

    margin: 8px 0px
}

.numbers {
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    color: #fff;
    position: absolute;
    top: 1231px;
    z-index: 4;
    right: 300px;

}

.numbers div div {
    margin: 20px;

}

.numbers h2 {
    color: rgb(201, 27, 40);
    font-size: 80px;
    margin: 0px 30px;
    text-align: center;
}

.numbers h3 {
    font-size: 29px;
    margin: 0px 30px;
    text-align: center;

}

.div-1 {
    margin: 86px 0px;

    grid-row: 1 / 3;
}

.div-2 {
    background-color: rgb(30, 30, 30);


}

.div-3 {
    background-color: rgb(30, 30, 30);

}

.div-5 {
    background-color: rgb(30, 30, 30);

}

.div-4 {
    background-color: rgb(30, 30, 30);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    /* width: 167px;
    padding: 20px; */
    align-items: center;
}







/* ----section3--- */




.line {
    display: flex;
    margin: 20px 0px;

}

.left-text {
    color: #fff;
    width: 343px;
}

.left-text h1 {
    font-size: 30px;
}

.left-text p {
    margin-top: 10px;
}

.line button {
    margin-left: 925px;
}

/* ---image-card--- */


.card-img {
    margin: 0px 20px;
    text-align: center;
    padding: 40px;
    background-color: rgb(30, 30, 30);
}

.card-img h2 {
    color: #fff;

}

.card-img p {
    margin-top: 10px;
    color: rgb(201, 27, 40);

}

.card-img img {
    height: 279px;
    width: 463px;


}

.first-row {
    margin-left: 10%;
    width: 1191px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    gap: 20px;


}




/* ---SECTION-4--- */
.section-4 {
    display: flex;
    background-color: rgb(30, 30, 30);
    padding: 50px;
    margin: 50px 0px;

}

.txt {
    color: #fff;
    margin: 0px 50px;

}

.txt h1 {
    color: #fff;
    margin: 5px 0px;
    font-size: 60px;
    width: 588px;

}

.txt p {
    margin: 30px 0px;
    width: 600px;

}

.section-4 button {
    margin-left: 200px;
    margin-top: 25%;
}


/* ----section 5---- */
.section-5 ul {
    color: #fff;
    list-style: none;
    display: flex;
    margin-left: 500px;
}

.section-5 ul li {
    padding: 20px;
}

/* ---footer--- */
.footer {
    background-color: rgb(30, 30, 30);
    display: flex;
    padding: 60px;
    height: 60px
}

.social-icon {
    padding: 20px;
    margin-left: 500px;

}

.social-icon img {
    padding: 6px;
    align-items: center;
}



/* ---------------media query------------ */
@media screen and (max-width:640px) {

    .navbar {
        overflow-x: auto;
    }

    .list-items {
        margin-left: 20px;

    }

    nav ul li {
        padding: 13px;
        margin-top: 1rem;
    }

    .hero {
        flex-direction: column;
    }

    .left img {
        height: 300px;

    }

    .right {
        text-align: center;
        margin-left: 1rem;
    }

    .right h1 {
        font-size: 30px;

    }

    .right p {
        width: 222px;
        font-size: 15px;


    }

    .blank {
        display: none;
    }

    .cards ul {
        flex-wrap: wrap;
        left: 1rem;
        width: 373px;


    }

    .card {
        text-align: center;
    }

    .card-active {
        text-align: center;
    }

    .numbers {
        /* flex-wrap: wrap;
        display: block;
        left: 5rem;
        margin-top: 40rem; */
        display: none;

    }

    .line {
        flex-wrap: wrap;
        margin-top: 74rem;
        text-align: center;

    }

    .line button {
        margin-left: 70px;
    }

    .first-row {
        margin-top: 3rem;
        display: block;
        width: 325px;
        margin-left: 0rem;

    }

    .card-img img {
        height: 155px;
        width: 213px;


    }

    .section-4 {

        text-align: center;
        flex-direction: column;
    }

    .txt h1 {
        width: 218px;
        font-size: 20px;
        margin-left: -58px;

    }

    .txt p {
        margin-left: -36px;

        width: 180px;

    }

    .section-4 button {
        margin-left: 20px;
    }

    .section-5 ul {

        margin-left: -62px;
    }

    .footer {
        flex-direction: column;
    }



    .social-icon {
        margin-left: 40px;

    }
}