h1{
    margin: 0;
}
.header{
    background-color: rgb(3, 49, 25);
    color: #fff;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95%;
}

.header h1{
    margin-bottom: 15px;
}