.App {
  text-align: center;
}

/* .header{
  background-color: rgb(236, 248, 15);
  display: flex;
  list-style: none;
} */
.header-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #000;
}
.footer{
  background-color: rgb(66, 66, 116);
  color: #fff;
}
