.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TODO APP STYLE */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todohead{
  color: #8b07b3;
  font-size: 64px;
  font-weight: 900;
}
.todowrap-head{
  color: #a60cd1;
  font-size: 32px;
  font-weight: 900;
}
body {
  background: #dce2c2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #95eca7;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 10px 10px 8px #888888;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 2px solid #0c08ca;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #1a1818;
  font-weight: 900;
}

.todo-input::placeholder {
  color: #021e044d;
  font-weight: 900;
}

.todo-btn {
  background: #f53e07;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  font-weight: 700;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f53e07;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #67cc7a;
  text-decoration: line-through;
}
