.movie{
    color: #000;
    background-color: rgb(227, 215, 215);
    border: 2px solid rgb(148, 236, 15);
    border-radius: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: start;
}